<div class="container restaurantdetails col-md-6">
  <h2>{{model.name}}'s details</h2>
  <p><img src={{model.photo}}></p>
  <p>Address: {{model.address}}</p>
  <p>Details: {{model.detail}}</p>
  <p>Average Price: HKD {{model.price}}</p>
</div>
